<!DOCTYPE html>
<html>
<head>
    <title>Upload CSV</title>
</head>
<body>
<!-- upload_form.html -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="text-align:center;background-color: aquamarine;height:300px;">
        <!--      <label for="quantity">Quantity:</label>-->
        <!--    <input type="number" name="quantity" id="quantity"><br>-->
        <h1><strong>CSV File Filtering</strong></h1>

        <label for="status">Status:</label>
        <input type="text" name="status" id="status"><br><br>

        <!--    <label for="price">Price:</label>-->
        <!--    <input type="number" name="price" id="price"><br>-->
        <label for="year">Year:</label>
        <input type="text" name="year" id="year"><br><br>
        <label for="csv_file">Upload CSV file:</label>
        <input type="file" name="csv_file" required>
        <br><br><br>
        <button type="submit" style="background-color: rgb(25, 125, 233);">Upload</button>
    </div>
</form>

</body>
<style>
    label{
        font-size: medium;
        
    }
</style>
</html>
